site_name: Project Norn
site_description: Serralq's personal blog
site_author: Serralq

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tracking
    - navigation.path
    - navigation.footer
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
  language: en
  palette:
    media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: dark blue
    accent: light blue
  font:
    text: JetBrains Mono
  icon:
    logo: simple/bookstack
  custom_dir: docs/overrides

docs_dir: "docs"

draft_docs: drafts/

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/extra.js
  - javascripts/highlight.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Serralq

plugins:
  - social
  - search
  - offline
  - glightbox
  - autolinks
  - mermaid2:
      arguments:
        theme: "base"
        themeVariables:
          darkMode: "true"
          fontFamily: "hermit"
          primaryColor: "#4051b5" #matching with project
          primaryBorderColor: "#16181D" #md-footer-bg
          tertiaryColor: "#546d78" #about grey
          tertiaryTextColor: "#E2E4E9D1"
          textColor: "#E2E4E9D1" #--md-typeset-color

markdown_extensions:
  - admonition
  - pymdownx.tasklist:
      custom_checkbox: true
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: "#"
  - tables
  - pymdownx.betterem
  - pymdownx.details
  - pymdownx.highlight:
      auto_title: true
      linenums: true
      linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets

nav:
  - Index: index.md
  - Tech:
      - tech/index.md
  - Stationaries:
      - stationary/index.md
  - Travels:
      - travels/index.md
  - About:
      - about/index.md
      - Why Bother Writing: about/about.md
