/* Variables */
.twemoji {
  --md-icon-size: 1.3em !important;
}

/* Headers should have equal margins
 * Thus h1 should not have special treatment */
h1 {
  margin-bottom: 0px !important;
}

/* Everyone has nicer borders */
.note, .card-link {
  border-width: 2px !important;
}
/* Linked cards */
/* TODO Add images once it feels right */
.card-link {
  color: var(--md-typeset-color) !important;
  background-color: #1E2738 !important;
  /* Allow for border inside of element */
  border: 5px solid #1E2738 !important;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 2px #448aff;

  /* For if there is a background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    background-color 0.25s,
    color 125ms,
    border 0.25s,
    background-image 1.25s,
    box-shadow 0.25s !important;
}
/* Special colors for hovering */
.card-link:hover {
  border: 3px solid #448aff !important;
}
.card-link.deep-purple:hover {
  background-image: url('../img/tech.gif');
  border: 3px solid #7e56c2 !important;
}
.card-link.brown:hover {
  background-color: #795649 !important;
}
.card-link.green:hover {
  background-image: url('../img/travel.gif');
  border: 3px solid  #4cae4f !important;
}
.card-link.blue-grey:hover {
  background-color: #546d78 !important;
}
/* These two colors came from mkdocs-material button background color */
/* Not the same as the actual class name anymore */
.card-link.light-blue:hover {
  background-color: #42a5f5 !important;
}
.card-link.amber:hover {
  background-color: #ff8a66 !important;
}
/* Use dashed unordered lists */
.md-content li:not(.task-list-item)::marker {
  content: "- ";
  font-size: 1.2em;
}

/* Smaller grids */
.grid-smaller {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, 12rem), 1fr)
  ) !important;
}

/* Add underline under headers */
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after {
  content: " ";
  display: block;
  border: 1px solid var(--md-typeset-color);
}

/* Poor mans progress bar */

.border-5plus:after {
  content: " ";
  display: block;
  border: 1px solid #f50057;
  width: 5%;
  animation: plus5 2s ease forwards;
}
@keyframes plus5 {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}
.border-20plus:after {
  content: " ";
  display: block;
  border: 1px solid #ff1744;
  width: 20%;
  animation: plus20 2s ease forwards;
}
@keyframes plus20 {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
.border-40plus:after {
  content: " ";
  display: block;
  border: 1px solid #ff5252;
  width: 40%;
  animation: plus40 2s ease forwards;
}
@keyframes plus40 {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.border-60plus:after {
  content: " ";
  display: block;
  border: 1px solid #ff9100;
  width: 60%;
  animation: plus60 2s ease forwards;
}
@keyframes plus60 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
.border-80plus:after {
  content: " ";
  display: block;
  border: 1px solid #fbc02d;
  width: 80%;
  animation: plus80 2s ease forwards;
}
@keyframes plus80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.border-100plus:after {
  content: " ";
  display: block;
  border: 1px solid #00e676;
  width: 100%;
  animation: plus100 2s ease forwards;
}
@keyframes plus100 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* For hovering over url links */
.custom_link:hover {
  color: #0091eb !important;
}

/* For total size of entire website */
.md-grid {
  max-width: 1360px;
}
/* Max width breakpoints */
/* To remove the pixel dust of landing page welcome */
@media (max-width: 512px) {
    .mobile {
        display: none;
    }
}
