/* Variables */
.twemoji {
  --md-icon-size: 1.3em !important;
}

/* Headers should have equal margins
 * Thus h1 should not have special treatment */
h1 {
  margin-bottom: 0px !important;
}

/* Everyone has nicer borders */
.note, .card-link {
  border-width: 2px !important;
}
/* Linked cards */
/* TODO Add images once it feels right */
.card-link {
  color: var(--md-typeset-color) !important;
  background-color: #1E2738;
  /* Allow for border inside of element */
  border: 5px solid #1E2738 !important;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 2px #448aff;

  /* For if there is a background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    background-color 0.25s,
    color 125ms,
    border 0.25s,
    background-image 1.25s,
    box-shadow 0.25s !important;
}
/* Special colors for hovering */
.card-link:hover {
  border: 3px solid #448aff !important;
}
.card-link.deep-purple:hover {
  background-image: url('../img/tech.gif');
  border: 3px solid #7e56c2 !important;
}
.card-link.brown:hover {
  background-color: #795649 !important;
}
.card-link.green:hover {
  background-image: url('../img/travel.gif');
  border: 3px solid  #4cae4f !important;
}
.card-link.blue-grey:hover {
  background-color: #546d78 !important;
}
/* These two colors came from mkdocs-material button background color */
/* Not the same as the actual class name anymore */
.card-link.light-blue:hover {
  background-image: url('../img/jellyfin.png');
  border: 3px solid #42a5f5 !important;
}
.card-link.amber:hover {
  background-image: url('../img/copyparty.png');
  border: 3px solid #ff8a66 !important;
}
.card-link.red:hover {
  /* TODO Replace with more fun image of immich */
  background-image: url('../img/immich.png');
  border: 3px solid #ff1947 !important;
}
/* Use dashed unordered lists */
.md-content li:not(.task-list-item)::marker {
  content: "- ";
  font-size: 1.2em;
}

/* Smaller grids */
.grid-smaller {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, 12rem), 1fr)
  ) !important;
}

/* Add underline under headers */
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after {
  content: " ";
  display: block;
  border: 1px solid var(--md-typeset-color);
}

/* For hovering over url links */
.custom_link:hover {
  color: #0091eb !important;
}

/* For total size of entire website */
.md-grid {
  max-width: 1360px;
}
/* Max width breakpoints */
/* To remove the pixel dust of landing page welcome */
@media (max-width: 512px) {
    .mobile {
        display: none;
    }
}

/* Custom Banner Images */
/* Only remove normal banner once left side bar appears */
@media screen and (min-width: 1220px) {
  /* Current top tab */
  .md-tabs__item--active {
    background: var(--md-primary-fg-color);
    border: 2px solid #1E2738 !important;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 2px #448aff;
  }
  .md-tabs__link {
    /* Magic numnber to center the tabs */
    margin-top: 12px;
    align-items: center;
  }
  /* Remove once showing custom top */
  .md-header {
    display: none;
  }
  /* The top banner */
  .md-tabs {
    background-image: url('../img/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  .md-tabs::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, transparent, var(--md-default-bg-color));
  }
  /* Align to the right */
  .md-tabs .md-grid {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
